<div class="row animated fadeInRight">
  <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-content">
              <h2 [ngClass]="{'oculto':filtro.length<=0&&convencion.length<=0}">
                  {{allItems.length}} {{textoConvencion}} encontrados para: <span class="text-navy">“{{filtro}}”</span>
              </h2>
              <small>Tiempo de respuesta  ({{0*intervalo/60}} segundos)</small>

              <div class="search-form">
                  <form >
                      <div class="form-group">
                            <!-- <label class="col-sm-2 control-label">Select</label> -->
                            <div class="col-sm-12">
                                <select class="form-control m-b" name="convencion" [(ngModel)]="convencion" (change)="consultarArchivos()">
                                    <option value="" selected>Todos</option>
                                    <option *ngFor="let c of convenciones" value="{{c.convencionid}}">{{c.denominacion | capitalize}}</option>
                                </select>
                            </div>
                        </div>
                      <div class="input-group">
                          <input type="text" [(ngModel)]="filtroAux" placeholder="Consulta aquí" name="filtroAux" class="form-control input-lg">
                          <div class="input-group-btn">
                              <button class="btn btn-lg btn-primary" type="submit" (click)="consultarArchivos()">
                                  Consultar
                              </button>
                          </div>
                      </div>

                  </form>
              </div>
              <!--<div class="hr-line-dashed"></div>-->
              <div class="search-result" *ngFor="let a of pagedItems">
                <h3><a [routerLink]="['/archivoview', a.archivoid]">{{a.archivoid}}</a></h3>
                <a [routerLink]="['/archivoview', a.archivoid]" class="search-link">{{a.denominacion}}</a>
                <p>
                    {{a.convencion}} DE {{a.gestion}}
                </p>
                <div class="hr-line-dashed"></div>
              </div>
              <div class="hr-line-dashed"></div>
                <!-- pager -->
                <div class="text-center">
                  <div *ngIf="pager.pages && pager.pages.length" class="btn-group">
                    <button class="btn btn-white" type="button" (click)="setPage(1)" [ngClass]="{disabled:pager.currentPage === 1}" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <i class="fa fa-angle-double-left"></i>
                    </button>
                    <button class="btn btn-white" type="button" (click)="setPage(pager.currentPage - 1)" [ngClass]="{disabled:pager.currentPage === 1}" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                    <button class="btn btn-white" [ngClass]="{active:pager.currentPage === page}" *ngFor="let page of pager.pages" (click)="setPage(page)">{{page}}</button>
                    <button class="btn btn-white" type="button" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.currentPage + 1)">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                    <button class="btn btn-white" type="button" (click)="setPage(pager.totalPages)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <i class="fa fa-angle-double-right"></i>
                    </button>
                  </div>
                </div>
          </div>
      </div>
  </div>
</div>
